.author-block {
  width: 100%;
  max-width: 396px;
  height: 500px;

  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
}

.author-block__avatar {
  width: 120px;
  display: block;
  margin-top: 40px;

  cursor: default;
  user-select: none;
}

.author-block__user-name {
  margin-top: 16px;

  font-family: "Space mono";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: center;
  color: #3D3D3D;
}

.author-block__bio {
  max-width: 270px;

  margin-top: 8px;

  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  text-align: center;
  color: #3D3D3D;
}

.author-block__buttons {
  max-width: 344px;

  margin-top: 24px;
  margin-bottom: 40px;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 4.6fr 1fr;
  gap: 8px;
}

.author-block__subscribe-btn {
  width: 344px;
  height: 60px;

  grid-column: span 2;

  font-family: "Space mono";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;

  color: #fff;
  background-color: #02BE86;
  border: none;

  cursor: pointer;
  user-select: none;
}

.author-block__subscribe-btn:hover {
  background-color: #34cb9e;
}

.author-block__subscribe-btn:active {
  background-color: #01986b;
}

.author-block__subscribe-btn:disabled{
  background-color: #67D8B6;
}

.author-block__secondary-button {
  color: #3D3D3D;
  background-color: #fff;
  border: 1px solid #3D3D3D;

  cursor: pointer;
  user-select: none;
}

.author-block__secondary-button:hover {
  background-color: rgba(61, 61, 61, 0.08);
}

.author-block__secondary-button:active {
  background-color: rgba(61, 61, 61, 0.16);
}

.author-block__secondary-button:disabled {
  color: rgba(61, 61, 61, 0.5);
  border-color: rgba(61, 61, 61, 0.5);
  background-color: #fff;
}

.author-block__secondary-button_type_cv-btn {
  width: 276px;
  height: 60px;

  font-family: "Space mono";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
}

.author-block__secondary-button_type_message-btn {
  width: 60px;
  height: 60px;
}
